// fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Manrope:wght@400;500;600;700;800&display=swap');
$serif: 'Crimson Text', serif;
$sans: 'Manrope', sans-serif;

$dark: #191924;
$bright: #f9faeb;
$bright-grey: hsl(64, 0%, 95%);
$primary: #F09605;
$d-primary: saturate(darken($primary, 10%), 100%);
$secondary: #0078A3;
$tertiary: #B40424;

$small: 10px;
$medium: 16px;